//spacing
$base-spacing-unit: 8px !default;

// Typography
// ------------------------------
// $font-family: Roboto, 'Helvetica Neue', sans-serif !default;
$font-size:   10px !default;


//colors

$black: #24272A;
$gray: #3F454A;
$yellow: #D8AD3D;
$blue: #009CD9;
$red: #B72C2C;
$white: #FFFFFF;

//breakpoints
$breakpoint-xs-min: 414px;
$breakpoint-sm-min: 600px;
$breakpoint-md-min: 768px;
$breakpoint-lg-min: 960px;

